@import '../../styles/App.scss';
.containerTimer  {
    background-color: #e6e6e6;
    border-radius: 50;
    width: 100%;
    margin: 50;
}

.filler {
    height: 100%;
    background-color: $darker-blue;
    border-radius: inherit;
    transition: width 0.25s ease-in-out;
    text-align: right
}

.label  {
    padding: 5;
    color: white;
    font-weight: bold
}