@import '../../styles/App.scss';

#MainScreen {
    .fade-in-hello {
        animation: fade 1.5s ease-in;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
    }

    .btn-start {
        background-color: $dark-blue !important;
        border-color: $dark-blue  !important;
    }
    .btn-start:hover {
        background-color: $darker-blue !important;
        border-color: $darker-blue  !important;
    }

}
