@import '../../styles/App.scss';

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.Timer {
    /* align-self: center; */
    /* align-items: center; */
    /* align-content: center; */
}
.Game-info{
    margin-top: 10px;
}
.App {
  text-align: center;
  background-color: $grey;
  min-height: 100vh;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

table{
    padding: 2%;
    margin-bottom: 0%;
    width: 50%;
    height: 70vh;
}
td {
    padding: 2%;

}
tr {
    height: 50%;
}

.Prompt{
    padding: 0%;
    margin: 0;
    font-style: bold;
    font-size: 10vh;
}
p{
    margin: 0;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
